---

services:
  db:
    image: postgres:15
    environment:
      POSTGRES_USER: pokesag
      POSTGRES_PASSWORD: pokesag

  web: 
    image: ghcr.io/dmptrluke/pokesag-web:master
    build:
      context: ./web
      dockerfile: Dockerfile
      args:
        BUILD_MODE: "development"
    ports:
      - "8400:8000"

  receiver:
    image: ghcr.io/dmptrluke/pokesag-receiver:master
    build:
      context: ./receiver
      dockerfile: Dockerfile
    environment:
      TZ: 'Pacific/Auckland'
      DISCARD_SPAM: 'true'
      # RTL_DEVICE_SERIAL: ''
      # RTL_DEVICE_INDEX: '0'
    devices:
      - /dev/bus/usb:/dev/bus/usb
    privileged: true
